<h2>Sign in</h2>

<form method="POST" action="/authentication/sign-up">
    <div class="form-group">
        <label for="sign-up-username">Username</label>
    <input type="username" name="username" placeholder="Your Username">
    </div>
    <div class="form-group">
        <label for="sign-up-password">Password</label>
    <input type="password" name="password" placeholder="A safe password">
    </div>

    <button>Sign up</button>
</form>

